.links {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

color: #212121;
}
.links:hover {
    color: #2196F3;
}

.web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;

    color: #2196F3;
}

.websudio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: black;

    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    list-style: none
}

.li1 {
    position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;
    list-style: none
}

.li2 {
    position: absolute;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
    list-style: none
}

.li3 {
    position: absolute;
    width: 64px;
    height: 16px;
    left: 670px;
    top: 32px;
    list-style: none
}

.li4 {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    list-style: none
}

.li5 {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    list-style: none
}

.heroimage {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
}

.main_text {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 275px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;

}

.button_ {
    position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
}

.headline {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.some_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #757575;
}

.uwaga_do_detalei {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;
}

.punktualnist {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 515px;
    top: 774px;
}

.planuwannya {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 815px;
    top: 774px;
}

.suchasni_technologii {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 1115px;
    top: 774px;
}